NetApp.PlayASP/Connected Services/NetAppWCFService/NetAppWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NetAppWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61702/Services/NetAppWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61702/Services/NetAppWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61702/Services/NetAppWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetApp.PlayASPAPI.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INetAppWCF_Products_InputMessage">
    <wsdl:part name="parameters" element="tns:Products" />
  </wsdl:message>
  <wsdl:message name="INetAppWCF_Products_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductsResponse" />
  </wsdl:message>
  <wsdl:message name="INetAppWCF_UpdateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProduct" />
  </wsdl:message>
  <wsdl:message name="INetAppWCF_UpdateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateProductResponse" />
  </wsdl:message>
  <wsdl:message name="INetAppWCF_SayHello_InputMessage">
    <wsdl:part name="parameters" element="tns:SayHello" />
  </wsdl:message>
  <wsdl:portType name="INetAppWCF">
    <wsdl:operation name="Products">
      <wsdl:input wsaw:Action="http://tempuri.org/INetAppWCF/Products" message="tns:INetAppWCF_Products_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetAppWCF/ProductsResponse" message="tns:INetAppWCF_Products_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/INetAppWCF/UpdateProduct" message="tns:INetAppWCF_UpdateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/INetAppWCF/UpdateProductResponse" message="tns:INetAppWCF_UpdateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <wsdl:input wsaw:Action="http://tempuri.org/INetAppWCF/SayHello" message="tns:INetAppWCF_SayHello_InputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_INetAppWCF" type="tns:INetAppWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Products">
      <soap:operation soapAction="http://tempuri.org/INetAppWCF/Products" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProduct">
      <soap:operation soapAction="http://tempuri.org/INetAppWCF/UpdateProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SayHello">
      <soap:operation soapAction="http://tempuri.org/INetAppWCF/SayHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NetAppWCF">
    <wsdl:port name="BasicHttpBinding_INetAppWCF" binding="tns:BasicHttpBinding_INetAppWCF">
      <soap:address location="http://localhost:61702/Services/NetAppWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>